.App {
  /* perspective: 800px; */
}
.App-container {
  margin: 60px auto;
  max-width: 900px;
  height:max-content;
  min-height: 100vh;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  background-color: #281108d3;
  padding: 10px;
  padding-left: 60px;
  border-radius: var(--border-radius);
  color: var(--primary-text-color);
  font-size: smaller;
  /* perspective: 1000px;
  transform: rotateX(5deg); */
}

.App main {
  border-radius: 5px 0px 0px 5px;
  min-height: 100vh;
  height: max-content;
  padding: 20px 40px;
  /* background-color: #f2dcb1;
  background-color: #faeaca; */
  background-color: #fef6e5;
  /* transform: rotateY(-3deg); */
}
.App h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Gunjala Gondi", sans-serif;
  color: var(--heading-color);
  opacity: 0.9;
}
