.App-container {
  margin: 80px auto 100px;
  max-width: 1200px;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  font-size: smaller;
  height: max-content;
  min-height: 100vh;
  perspective: 800px;
}

.App h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Gunjala Gondi", sans-serif;
  color: var(--heading-color);
  opacity: 0.9;
}

.App .footer-wrapper {
  background-color: #3d2515;
  margin-top: 60px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  text-align: center;
}

.App footer {
  border-radius: var(--border-radius);
  background-color: rgb(254, 246, 229, 0.9);
  padding: 10px 20px;
  color: var(--secondary-text-color);
  transition: all ease-in-out 500ms;
}
.App footer:hover {
  font-weight: 600;
}

.App footer a {
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
  transition: all ease-in-out 500ms;
}

.App footer:hover > a {
  text-decoration: underline;
}

.App footer a:hover {
  color: #502b12;
}
