.App {
}
.App-container {
  margin: 80px auto 100px;
  max-width: 1200px;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  font-size: smaller;
  height:max-content;
  min-height: 100vh;
  perspective: 800px;
  
}

.App main {
 
}
.App h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Gunjala Gondi", sans-serif;
  color: var(--heading-color);
  opacity: 0.9;
}
