.DictionaryGallery .photo {
  padding: 15px;
}

.DictionaryGallery img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  transition: all ease-in-out 400ms;
}

.DictionaryGallery img:hover {
  border-radius: var(--border-radius);
}

.DictionaryGallery .pexels-link {
  display: block;
  margin: 5px auto 0;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: all ease-in-out 300ms;
}
.DictionaryGallery .pexels-link span {
  transition: all ease-in-out 300ms;
  color: var(--primary-text-color);
}
.DictionaryGallery .pexels-link:hover {
  color: var(--primary-text-color);
}
.DictionaryGallery .pexels-link:hover > span {
  font-weight: bold;
  text-decoration: dotted underline;
}

@media (max-width: 1250px) {
  .DictionaryGallery .pexels-link {
    margin-top: 30px;
  }
}
