.Dictionary form {
  padding: 20px 0;
  perspective: 800px;
  text-align: center;
}

.Dictionary .input-field,
.Dictionary .search-btn {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
}

.Dictionary .input-field {
  margin-right: 5px;
  color: var(--primary-text-color);
}

.Dictionary .input-field:focus {
  outline: none;
  border: 1px solid #a68576;
}

.Dictionary .input-field::placeholder {
  color: #a68576;
  opacity: 0.6;
  font-size: smaller;
}

.Dictionary .search-btn {
  background-color: #a68576;
  outline: 1px solid #a68576;
  color: white;
  transition: all ease-in-out 400ms;
}

.Dictionary .search-btn:hover {
  color: var(--primary-text-color);
  background-color: #ffffff;
  transform: rotateX(360deg);
}
.Dictionary .section-row {
  border-left: 1px solid #a68576;
  border-right: 1px solid #a68576;
  border-radius: var(--border-radius);
  box-shadow: 1px 0px 10px #a68576;
}

.Dictionary .section-wrapper {
  background-color: #3d2515;
  padding: 10px;
}

.Dictionary .first-section-wrapper,
.Dictionary .second-section-wrapper {
  border-top: 1px solid #6f4f37;
  border-bottom: 1px solid #6f4f37;
}

.Dictionary .first-section-wrapper {
  padding-left: 60px;
  padding-right: 0px;
  border-radius: 5px 25px 25px 5px;
  box-shadow: 278px 0px 15px #3d2515;
}
.Dictionary .second-section-wrapper {
  padding-right: 60px;
  padding-left: 0px;
  border-radius: 25px 5px 5px 25px;
  box-shadow: -10px 0px 15px #3d2515;
  perspective: 1000px;
}

.Dictionary section {
  min-height: 100vh;
  padding: 20px 40px;
  height: 760px;
  background-color: rgb(254, 246, 229, 0.9);
}

.Dictionary section.first-outer,
.Dictionary section.first-middle,
.Dictionary section.second-outer,
.Dictionary section.second-middle {
  border: 1px solid #00000090;
}

.Dictionary section.first-outer,
.Dictionary section.first-middle {
  border-left: thick double #00000090;
  border-radius: 5px 0px 0px 5px;
}

.Dictionary section.second-outer,
.Dictionary section.second-middle {
  border-right: thick double #00000090;
  border-radius: 0px 5px 5px 0px;
}

.Dictionary section.first-outer {
  padding: 0 0 0 5px;
}

.Dictionary section.second-outer {
  padding: 0 5px 0 0;
}

.Dictionary section.first-middle {
  padding: 0 0 0 8px;
}

.Dictionary section.second-middle {
  padding: 0 8px 0 0;
}

.Dictionary section.first-inner,
.Dictionary section.second-inner {
  border: 1px solid #00000090;
  overflow: hidden;
}

.Dictionary section.first-inner {
  border-radius: 5px 0px 0px 5px;
}

.Dictionary section.second-inner {
  transform: rotateY(-3deg);
  border-radius: 0px 5px 5px 0px;
}

.Dictionary .SearchResults {
  margin-left: 10px;
}

@media (max-width: 1250px) {
  .Dictionary form {
    padding: 10px 0;
  }
}

@media (max-width: 1199.5px) {
  .Dictionary .section-row {
    border-top: 1px solid #a68576;
    border-bottom: 1px solid #a68576;
  }

  .Dictionary .first-section-wrapper,
  .Dictionary .second-section-wrapper {
    border-left: 1px solid #6f4f37;
    border-right: 1px solid #6f4f37;
    padding: 10px;
  }

  .Dictionary .first-section-wrapper {
    padding-top: 40px;
    padding-bottom: 0px;
    border-radius: 5px 5px 25px 25px;
    box-shadow: 0px 278px 15px #3d2515;
  }
  .Dictionary .second-section-wrapper {
    padding-bottom: 40px;
    padding-top: 0px;
    border-radius: 25px 25px 5px 5px;
    box-shadow: 0px -10px 15px #3d2515;
  }

  .Dictionary section {
    min-height: 100vh;
    height: fit-content;
  }

  .Dictionary section.first-outer,
  .Dictionary section.first-middle,
  .Dictionary section.second-outer,
  .Dictionary section.second-middle {
    border: 1px solid #00000090;
  }

  .Dictionary section.first-outer,
  .Dictionary section.first-middle {
    border-top: thick double #00000090;
    border-radius: 5px 5px 0px 0px;
  }

  .Dictionary section.second-outer,
  .Dictionary section.second-middle {
    border-bottom: thick double #00000090;
    border-radius: 0px 0px 5px 5px;
  }

  .Dictionary section.first-outer {
    padding: 5px 0 0 0;
  }

  .Dictionary section.second-outer {
    padding: 0 0 5px 0;
  }

  .Dictionary section.first-middle {
    padding: 8px 0 0 0;
  }

  .Dictionary section.second-middle {
    padding: 0 0 8px 0;
  }

  .Dictionary section.first-inner {
    border-radius: 5px 5px 0px 0px;
  }

  .Dictionary section.second-inner {
    transform: rotateY(-3deg);
    border-radius: 0px 0px 5px 5px;
  }
}


@media (max-width:500px) {
  .Dictionary .SearchResults {
    margin-left: 0;
  }

  .Dictionary  .input-field{
    text-align: center;
    margin-right: 0;
  }

  .Dictionary  .search-btn {
    display: block;
    margin: 10px auto;
  }

}