 .container {
  padding: 50px 0;
}

.DictionaryGallery .photo {
  padding: 15px;
}

.DictionaryGallery img {
  border-radius: 50%;
  transition: all ease-in-out 400ms;
}
.DictionaryGallery img:hover {
  border-radius: var(--border-radius);
}
